<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <title>Tweet Scrap</title>
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <style>
      [class*='container'] {
        margin-top: 2.5rem;
        max-width: 40rem;
      }
      [class*='row'] {
        margin-top: 20px;
      }
      .centerItems {
        margin-top: 1rem;
        text-align: center;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img class="mb-4" src="{% static 'App/svg/twitter.svg' %}" alt="" width="72" height="57">
        <h2>Search for Tweets</h2>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label for="keywords" class="form-label">Keywords</label>
            <input 
              type="text"
              id="keywords"
              name="keywords"
              placeholder="Messi Copa America"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="from" class="form-label">From</label>
              <input 
                type="date"
                id="from"
                name="initial_date"
                class="form-control"
                required
              />
          </div>
          <div class="col">
            <label for="to" class="form-label">To</label>
              <input 
                type="date"
                id="from"
                name="final_date"
                class="form-control"
                required
              />
          </div>
        </div>
        <br>
        <br>
        <div class="text-center">
          <p>Check the items you want to display in the output for each tweet</p>
        </div>
        <div class="container centerItems">
          <div class="checkbox justify-content-center">
            <label>
              <input type="checkbox" name="date_col" value="1" checked> Date
            </label>
            <label>
              <input type="checkbox" name="time_col" value="1" checked> Time
            </label>
            <label>
              <input type="checkbox" name="username_col"  value="1" checked> Username
            </label>
            <label>
              <input type="checkbox" name="name_col" value="1" checked> Name
            </label>
            <label>
              <input type="checkbox" name="tweet_col" value="1" checked> Tweet
            </label>
            <label>
              <input type="checkbox" name="photos_col" value="1" checked> Photos
            </label>
          </div>
        </div>
        <div class="container centerItems">
          <button class="w-30 btn btn-lg btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>

 
