<table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 10rem;">timezone</th>
      <th style="min-width: 10rem;">date</th>
      <th style="min-width: 10rem;">username</th>
      <th style="min-width: 10rem;">name</th>
      <th style="min-width: 10rem;">tweet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:59:08</td>
      <td>S23Suarez</td>
      <td>Samuel Suarez</td>
      <td>Le podría dedicar te busco de coscu pero sería muy evidente</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:58:46</td>
      <td>MaketsuTV_</td>
      <td>Maketsu</td>
      <td>@SantutuOOC_ @NicoChamorro97 @Martinpdisalvo soñar es gratis</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:58:11</td>
      <td>RicaPerohacemal</td>
      <td>enamorado de la plata</td>
      <td>@Martinpdisalvo no vayas a matar a alguien de la risa eh</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:57:59</td>
      <td>SantutuOOC_</td>
      <td>Santutu Out Of Context🏈</td>
      <td>@NicoChamorro97 @Martinpdisalvo 50cent?</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:56:16</td>
      <td>Jonatha14067493</td>
      <td>Jonathan Kent</td>
      <td>@Martinpdisalvo  https://t.co/z3l1QGF8h4</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:55:57</td>
      <td>SanchessNico</td>
      <td>nico_sanchess</td>
      <td>@NestorCjs1 @Martinpdisalvo Deja de mirar tiktok boludin</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:55:56</td>
      <td>Vanish3dd</td>
      <td>Vanish3d</td>
      <td>@Martinpdisalvo Y con Emilia al lado? Sos un nashi</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:55:56</td>
      <td>Fabi_modic9</td>
      <td>Fabiimodica</td>
      <td>Pobre coscu, le están vitalizando videos viejos cuando le tiraba palazos a Emilia</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:54:32</td>
      <td>Gabriel03334148</td>
      <td>gabi.crackxer</td>
      <td>@NestorCjs1 @NicoChamorro97 @Martinpdisalvo ojala, o el wosito!</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:54:20</td>
      <td>rdsantyy</td>
      <td>.303</td>
      <td>@Martinpdisalvo  https://t.co/nSMOUgxitD</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:54:17</td>
      <td>fernnd77</td>
      <td>fer</td>
      <td>@Martinpdisalvo igual no importa por que tus opiniones son pelotudas</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:52:04</td>
      <td>NestorCjs1</td>
      <td>Nees 420</td>
      <td>@NicoChamorro97 @Martinpdisalvo Duko</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:51:50</td>
      <td>ComoSeSienteee</td>
      <td>Santino Torreira</td>
      <td>@Martinpdisalvo sos un virgen</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:51:23</td>
      <td>NestorCjs1</td>
      <td>Nees 420</td>
      <td>@Martinpdisalvo Deja de quererlo gorriar a duki buitre</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:49:35</td>
      <td>Ujujkk1</td>
      <td>Ujujkk</td>
      <td>@saokobi Coscu ceno con Messi y Antonella, lo sigue Messi en Instagram y mira sus streams, y se la pasa ayudando a la gente y haciendo streams caritativos, cundo logres todo eso habla, mientras tanto cerra los cantos</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:48:47</td>
      <td>ZakySex12</td>
      <td>mattiiias</td>
      <td>@Martinpdisalvo ES UN TÍO</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:48:32</td>
      <td>Kaos_2311</td>
      <td>Carlos_Kaos</td>
      <td>@Martinpdisalvo Si hacete el boludo nomás, yo te conozco ahreee</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:47:27</td>
      <td>lautidemin</td>
      <td>lauti no hate</td>
      <td>@Martinpdisalvo Picadoooo</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:46:25</td>
      <td>vwvvvwwwvw</td>
      <td>valentina</td>
      <td>@animemadness7 ANSLSJAKJLAJAKA NI BOLA LE DA A LO Q CUENTA COSCU</td>
    </tr>
    <tr>
      <td>-0300</td>
      <td>2022-06-08 20:46:25</td>
      <td>Fantasyworld878</td>
      <td>FantasyWorld_878</td>
      <td>@Martinpdisalvo M-A-L-A M-Í-A  Í-A mala mía 🎶🎶🎶</td>
    </tr>
  </tbody>
</table>